.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    /* siderbar */
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    /* espaço entre siderbar e posts */
    align-items: flex-start;
}

/* responsivo */
@media (max-width: 768px) {
    /* 14px * 100 / 16 = 87.5% (para que o usuario 
    possa alterar o tamanho da fonte no 
    dispositivo) */
    html {
        font-size: 87.5%;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
}